.header {
    background-color: #ffffff;
}

.header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__items {
    display: flex;
}

.header__item {
    color: #595a5c;
    font: normal 14px sans-serif;
}

.header__btn {
    padding: 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all .4s;
}

.header__btn:hover {
    background-color: #bae1c7;
    transition: all .4s;
}

#menu__btn:hover {
    background-color: transparent;
    transition: all .4s;
}

.header__item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo a {
    display: flex;
    color: #000000ba;
    font-size: 16px;
    transition: all .4s;
}

.header__logo a:hover {
    font-size: 18px;
    transition: all .4s;
}

.header__logo span:nth-child(3) {
    color: #50d77d;
}
/* header__menu */
#menu__btn span {
    display: flex;
    border: 1px solid #595a5c;
    border-radius: 6px;
    margin: 4px;
    width: 1rem;
}

.menu__content {
    display: none;
}

.menu__active {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

#menu__btn__close {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;    
    padding: 1.5rem;
    background-color: #bae1c7;
}

#menu__btn__close span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #595a5c;
    border-radius: 6px;
    width: 1rem;
}

#menu__btn__close span:first-child {
    transform: rotate(45deg);
}

#menu__btn__close span:last-child {
    transform: rotate(-45deg);
}
/* header__menu */
/* like__content */
.like__content {
    display: none;
}

.like__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.like__active {
    position: fixed;
    display: block;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    border-radius: 6px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0px 0px 20rem 0rem #00000062;
}

#like__btn__close {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 6px 0;
    background-color: #bae1c7;
}

#like__btn__close span {
    position: absolute;
    display: flex;
    border: 1px solid #595a5c;
    border-radius: 6px;
    width: 1rem;
}

#like__btn__close span:first-child {
    transform: rotate(45deg);
}

#like__btn__close span:last-child {
    transform: rotate(-45deg);
}
/* like__content */
/* announcement__content */
.announcement__content {
    display: none;
}

.announcement__active {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    line-height: 2rem;
    border-radius: 6px;
    box-shadow: 0px 0px 20rem 0rem #00000062;
}

#announcement__btn__close {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 6px 0;
    background-color: #bae1c7;
}

#announcement__btn__close span {
    position: absolute;
    display: flex;
    border: 1px solid #595a5c;
    border-radius: 6px;
    width: 1rem;
}

#announcement__btn__close span:first-child {
    transform: rotate(45deg);
}

#announcement__btn__close span:last-child {
    transform: rotate(-45deg);
}

.announcement__content p:nth-child(2) {
    font-size: 20px;
    color: #45b66b;
}

.announcement__content input {
    border-radius: 6px;
    padding: 1% 10%;
    border: 1px solid #000000ba;
}

.announcement__content button:last-child {
    font-size: 20px;
    padding: 2rem 4rem;
    margin: 1rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    background-color: #45b66b;
    color: #ffffff;
    transition: all .4s;
}

.announcement__content button:last-child:hover {
    background-color: #bae1c7;
    color: #595a5c;
    transition: all .4s;
}
/* announcement__content */
/* login__content */
.login__content {
    display: none;
}

.login__active {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 80%;
    height: 60%;
    top: 15%;
    left: 10%;
    line-height: 2rem;
    border-radius: 6px;
    box-shadow: 0px 0px 20rem 0rem #00000062;
}

#login__btn__close {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 6px 0;
    background-color: #bae1c7;
}

#login__btn__close span {
    position: absolute;
    display: flex;
    border: 1px solid #595a5c;
    border-radius: 6px;
    width: 1rem;
}

#login__btn__close span:first-child {
    transform: rotate(45deg);
}

#login__btn__close span:last-child {
    transform: rotate(-45deg);
}
/* login__content */
/* mob */
@media (max-width: 768px) {
    .header__item p {
        display: none;
    }
}
/* mob */