.main__content {
    margin: 1rem;
}

.main__item {
    margin: 1rem 0;
}

.content {
    background-color: #ffffff;
    border-radius: 6px;
    padding: 10rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content p {
    font-size: 40px;
}

.advert {
    background-color: #ffffff;
    border-radius: 6px;
    padding: 10rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advert p {
    font-size: 40px;
}